VERSION = 0.7.1-0
PACKAGES = \
 RTK-Common_$(VERSION) \
 RTK-Dev_$(VERSION) \
 RTK-Doc_$(VERSION)

all:
	make -C !RTK bin doc
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p Temp/Apps/Library
	cp RiscPkg/Copyright Temp/RiscPkg
	cp -R !RTK Temp/Apps/Library

	chmod -R 444 Temp/Apps
	cp -R SysVars Temp/SysVars
	cp -R Sprites Temp/Sprites
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES): %:
	riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	rm -f ../$@
	zip -r ../RiscPkg/$@ * -i@../RiscPkg/$(firstword $(subst _, ,$@)).inc
